.textFormBg {
    height: 100%;
    overflow: auto;
}
.lightTheme.textFormBg {
    background-color: #fff;
}

.darkTheme.textFormBg {
    background-color: #000;
}

.lightTheme h1.mainHeading {
    color: #000;
}

.darkTheme h1.mainHeading {
    color: #fff;
}

.lightTheme p.para {
    color: #000;
}

.darkTheme p.para {
    color: #ccc;
}

.lightTheme .paraBlack {
    color: #000;
}

.darkTheme .paraBlack {
    color: #ccc;
}

.darkTheme textarea.custom_input {
    background: #000;
    color: #fff;
}
