@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');
html, body{
    height: 100%;
}
body {
    font-family: 'Poppins', sans-serif;
}
p{
    margin-bottom: 0;
}
:focus,
:focus-visible {
    box-shadow: none !important;
    outline: #01005c !important;
    border-color: #01005c !important;
}
#root{
    height: 100%;
}
.mainNav{
    padding: 15px 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.mainNav .logo{
    font-size: 25px;
    font-weight: 700;
}
h1.mainHeading{
    font-weight: 700;
    text-transform: capitalize;
}
p.para{
    font-size: 13px;
    font-weight: 300;
    word-break: break-word;
}
p.paraBlack{
    word-break: break-word;
}
textarea.custom_input{
    resize: none;
    height: 200px;
}
.padding-top{
    padding-top: calc(30px + 70px); 
}
/* all button css */
.btn_main{
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 15px;
}
.custom_btn{
    background: #ffcf00;
    color: #fff;
    transition: 0.5s all ease;
    border: 1px solid #ffcf00 !important;
}
.custom_btn:hover, .custom_btn:focus, .custom_btn:focus-visible{
    background: transparent;
    color: #ffcf00;
}
.blue_custom_btn{
    background: #01005c;
    border: 1px solid #01005c !important;
    transition: 0.5s all ease;
}
.blue_custom_btn:hover, .blue_custom_btn:focus, .blue_custom_btn:focus-visible{
    background: transparent;
    color: #01005c;
}
.red_custom_btn{
    background: #b70012;
    border: 1px solid #b70012 !important;
    transition: 0.5s all ease;
}
.red_custom_btn:hover,.red_custom_btn:focus, .red_custom_btn:focus-visible {
    background: transparent;
    color: #b70012;
}
.green_btn{
    background: #007841;
    border: 1px solid #007841 !important;
    transition: 0.5s all ease;
}
.green_btn:hover,.green_btn:focus, .green_btn:focus-visible {
    background: transparent;
    color: #007841;
}
.light_green_custom_btn{
    background: #6ce90f;
    border: 1px solid #6ce90f !important;
    transition: 0.5s all ease;
}
.light_green_custom_btn:hover,.light_green_custom_btn:focus, .light_green_custom_btn:focus-visible {
    background: transparent;
    color: #6ce90f;
}
.orange_btn{
    background: #dc8400;
    border: 1px solid #dc8400 !important;
    transition: 0.5s all ease;
}
.orange_btn:hover,.orange_btn:focus, .orange_btn:focus-visible {
    background: transparent;
    color: #dc8400;
}
/* all button end */